#nav-bar {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-items {
    display: block;
}


.nav-bar-items ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.nav-bar-items li {
    padding: 0px, 10px;    
    display: inline-block;
    
}

.nav-bar-items a {
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
}

.btn{
    border-radius: 20px;
    padding: 2px;
    font-size: 21px;
}